/*
colors:
yellow: #edd81c;
bright-yellow for highlight: #fbff00;
brown-orange: #a83300;
black: #000;
white: #fff;

*/

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  background-color: #a83300;
  text-align: center;
  font-family: 'Trispace', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color:#edd81c;
}

h2 {
  font-family: 'Trispace', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background_cassette.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}

.App-playlist {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}